body {
  font-family: "Lato", sans-serif;
}
:root {
  --color-white: #ffffff;
  --color-dark-text: #161012;
  --color-dark-grey: #6b7376;
  --color-text-grey: #b6bbc1;
  --color-headers: #eaeaea;
  --color-contact-hover: #e9ebeb;
  --color-light-icons: #b1b1b1;
  --color-sent-message: #d5f9ba;
  --color-notification: #8edafc;
  --color-searchbar: #fafafa;
  --color-footer-right: #f3eeea;
  --my-bg-color: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 20%,
    #dbdbd3 20%,
    #dbdbd3 100%
  );
}
#app {
  width: 100%;
  height: 100vh;
  background: var(--my-bg-color);
  padding: 20px;
}
#bell {
  font-size: 1.3em;
  color: var(--color-notification);
}
#header-left {
  background-color: var(--color-headers);
}
#header-right {
  border-left: 1px solid var(--color-text-grey);
  background-color: var(--color-headers);
}
#notifications {
  background-color: var(--color-notification);
}
#searchbar {
  background-color: var(--color-searchbar);
}
.chat {
  padding: 10px;
}
.chat:hover {
  background-color: var(--color-contact-hover);
  cursor: pointer;
}
.active {
  background-color: var(--color-contact-hover);
}
.last-mex {
  font-size: 0.8em;
  color: var(--color-text-grey);
}
.last-access {
  font-size: 0.6em;
  color: var(--color-text-grey);
}
.last-access-right {
  font-size: 0.7em;
  color: var(--color-drak-grey);
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
i {
  color: var(--color-light-icons);
}
p {
  margin: 0;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  background-color: var(--color-white);
}
#left-side {
  background-color: var(--color-white);
}
#main-right {
  background-image: url(../img/mine.jpg);
}
#footer-right {
  background-color: var(--color-footer-right);
  height: 60px;
}
.h0 {
  height: 0;
}
.sent {
  text-align: end;
}
.received {
  text-align: start;
}
.sent div {
  max-width: 30%;
  background-color: var(--color-sent-message);
  display: inline-block;
  margin: 10px 5px;
  border-radius: 15px;
}
.received div {
  background-color: var(--color-white);
  max-width: 30%;
  display: inline-block;
  margin: 10px 5px;
  border-radius: 15px;
}
.fa-paper-plane:hover {
  color: var(--color-notification);
  transform: scale(1.1);
}
.hour {
  font-size: 0.5em;
  position: absolute;
  bottom: 2px;
  right: 7px;
}
