<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- link to Font-Family and CSS Files -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <!-- Document Title -->
    <title>Boolzap</title>
</head>

<body>

    <div id="app">
        <div class="container  h-100">
            <div class="row flex-nowrap h-100">
                <div id="left-side" class="col-12 col-md-4">
                    <div class="row h-100 flex-column flex-nowrap">

                        <!-- UTENTE CHE USA L'APPLICAZIONE -->
                        <div id="header-left" class="col-12 py-2 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center  ">
                                <img src="img/avatar_io.jpg" alt="" class="avatar">
                                <p class="fw-bold px-1">Sofia</p>
                            </div>
                            <div>
                                <i class="fa-solid fa-circle-notch fs-4 mx-2"></i>
                                <i class="fa-solid fa-message fs-4 mx-2"></i>
                                <i class="fa-solid fa-ellipsis-vertical fs-4 mx-2"></i>
                            </div>
                        </div>

                        <!-- NOTIFICATIONS -->
                        <div id="notifications" class="col-12 py-2 d-flex align-items-center">
                            <div class="circle">
                                <i id="bell" class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="px-2 lh-sm">
                                <p class="fw-bold">Ricevi notifiche di nuovi messaggi</p>
                                <p style="font-size: 0.8em; text-decoration: underline;">Attiva notifiche desktop</p>
                            </div>
                        </div>

                        <!-- SEARCHBAR -->
                        <div id="searchbar" class="col-12 py-2">
                            <div class="input-group my-2">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-magnifying-glass top-icon"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <!-- CONTATTI -->
                        <div id="contacts" class="col-12 flex-grow-1 overflow-y-auto p-0 h0">
                            <div class="d-flex justify-content-between chat" v-for="(contact, index) in contacts"
                                :key="contact.id" @click="clicked(index)" :class="{'active': index===activeIndex}">
                                <div class="d-flex">
                                    <img :src="contact.avatar" :alt="contact.name" class="avatar">
                                    <div class="px-2">
                                        <p class="fw-bold">{{contact.name}}</p>
                                        <p class="last-mex">{{contact.messages[contact.messages.length - 1].message}}
                                        </p>
                                        </p>
                                    </div>
                                </div>
                                <p class="last-access">{{contact.messages[contact.messages.length-1].date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="right-side" class="col-12 col-md-8">

                    <div class="row h-100 flex-column flex-nowrap">
                        <!-- HEADER RIGHT -->
                        <div id="header-left" class="col-12 py-2 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center  ">
                                <img :src="contacts[activeIndex].avatar" alt="" class="avatar">
                                <div class="px-2">
                                    <p class="fw-bold ">{{contacts[activeIndex].name}}</p>
                                    <p class="last-access-right fw-bold">Ultimo accesso oggi alle 12:00</p>
                                </div>
                            </div>
                            <div>
                                <i class="fa-solid fa-magnifying-glass fs-4 mx-2"></i>
                                <i class="fa-solid fa-paperclip fs-4 mx-2"></i>
                                <i class="fa-solid fa-ellipsis-vertical fs-4 mx-2"></i>
                            </div>
                        </div>
                        <!-- MAIN RIGHT SIDE -->
                        <div id="main-right" class="col-12 flex-grow-1 overflow-y-auto p-5 h0">
                            <div v-for="mex in contacts[activeIndex].messages" :class="mex.status" :key="mex.id">
                                <div class="lh-1 text-start p-2" :class="mex.status">
                                    <p>{{ mex.message }}</p>

                                    <span class="hour my-text-grey text-end">{{
                                        mex.date }}</span>

                                </div>
                            </div>
                            <!-- <div class="p-5">
                                <div class="text-end">
                                    <p class="sent text-start d-inline-block my-2 p-2 rounded-3 text-break">ah ok</p>
                                </div>
                                <div>
                                    <p
                                        class="received d-inline-block my-2 p-2 rounded-3 text-break d-flex justify-content-between align-items-baseline">
                                        ah ok
                                    </p>
                                </div>
                            </div> -->

                        </div>
                        <!-- FOOTER RIGHT -->
                        <div id="footer-right" class="col-12 d-flex align-items-center justify-content-evenly">
                            <i class="fa-regular fa-face-smile dark-grey fs-4"></i>
                            <input type="text" class="w-75 border-0 p-2 rounded-2" placeholder="Scrivi un messaggio">
                            <i class="fa-solid fa-microphone dark-grey fs-4"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- My JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js" type="module"></script>
</body>

</html>